## Build a Regression Model in Keras

In [2]:
import pandas as pd
import numpy as np

### read the data

In [3]:
concrete_data = pd.read_csv('https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/DL0101EN/labs/data/concrete_data.csv')
concrete_data.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

In [4]:
concrete_data_columns = concrete_data.columns

predictors = concrete_data[concrete_data_columns[concrete_data_columns != 'Strength']] # all columns except Strength
target = concrete_data['Strength'] # Strength column

### normalize the data by substracting the mean and dividing by the standard deviation.

In [5]:
predictors_norm = (predictors - predictors.mean()) / predictors.std()
predictors_norm.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,0.862735,-1.217079,-0.279597
1,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,1.055651,-1.217079,-0.279597
2,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,3.551340
3,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,5.055221
4,-0.790075,0.678079,-0.846733,0.488555,-1.038638,0.070492,0.647569,4.976069

In [6]:
n_cols = predictors_norm.shape[1]

### import keras libraries

In [7]:
import keras

from keras.models import Sequential
from keras.layers import Dense

Using TensorFlow backend.

### define regresion model

In [8]:
def regression_model():
    # create model
    model = Sequential()
    model.add(Dense(10, activation='relu', input_shape=(n_cols,)))
    model.add(Dense(1))
    
    # compile model
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

In [9]:
from sklearn.model_selection import train_test_split

### Split the data in to training and testing data

In [10]:
X_train, X_test, y_train, y_test = train_test_split(predictors_norm, target, test_size=0.3, random_state=42)

### build the model

In [11]:
model = regression_model()

### fit the model

In [12]:
model.fit(X_train,y_train, epochs=50, verbose=2)

Epoch 1/50
 - 0s - loss: 1577.9877
Epoch 2/50
 - 0s - loss: 1559.7832
Epoch 3/50
 - 0s - loss: 1541.5438
Epoch 4/50
 - 0s - loss: 1523.2946
Epoch 5/50
 - 0s - loss: 1504.4378
Epoch 6/50
 - 0s - loss: 1485.6312
Epoch 7/50
 - 0s - loss: 1465.7077
Epoch 8/50
 - 0s - loss: 1445.8445
Epoch 9/50
 - 0s - loss: 1424.6488
Epoch 10/50
 - 0s - loss: 1403.3088
Epoch 11/50
 - 0s - loss: 1381.0277
Epoch 12/50
 - 0s - loss: 1357.8092
Epoch 13/50
 - 0s - loss: 1334.5768
Epoch 14/50
 - 0s - loss: 1310.0775
Epoch 15/50
 - 0s - loss: 1285.0907
Epoch 16/50
 - 0s - loss: 1259.2203
Epoch 17/50
 - 0s - loss: 1232.5453
Epoch 18/50
 - 0s - loss: 1205.4092
Epoch 19/50
 - 0s - loss: 1177.1305
Epoch 20/50
 - 0s - loss: 1148.6860
Epoch 21/50
 - 0s - loss: 1119.1006
Epoch 22/50
 - 0s - loss: 1088.8344
Epoch 23/50
 - 0s - loss: 1057.1376
Epoch 24/50
 - 0s - loss: 1025.0544
Epoch 25/50
 - 0s - loss: 991.9669
Epoch 26/50
 - 0s - loss: 957.8762
Epoch 27/50
 - 0s - loss: 923.3133
Epoch 28/50
 - 0s - loss: 888.4925
Epoch 29/50
 - 0s - loss: 853.0367
Epoch 30/50
 - 0s - loss: 817.3257
Epoch 31/50
 - 0s - loss: 782.4922
Epoch 32/50
 - 0s - loss: 747.1064
Epoch 33/50
 - 0s - loss: 712.4783
Epoch 34/50
 - 0s - loss: 678.8706
Epoch 35/50
 - 0s - loss: 645.5925
Epoch 36/50
 - 0s - loss: 614.1520
Epoch 37/50
 - 0s - loss: 583.0692
Epoch 38/50
 - 0s - loss: 553.8574
Epoch 39/50
 - 0s - loss: 525.5576
Epoch 40/50
 - 0s - loss: 498.9675
Epoch 41/50
 - 0s - loss: 474.0379
Epoch 42/50
 - 0s - loss: 449.9876
Epoch 43/50
 - 0s - loss: 428.0718
Epoch 44/50
 - 0s - loss: 407.3328
Epoch 45/50
 - 0s - loss: 388.1703
Epoch 46/50
 - 0s - loss: 370.3623
Epoch 47/50
 - 0s - loss: 353.9668
Epoch 48/50
 - 0s - loss: 338.8075
Epoch 49/50
 - 0s - loss: 324.8892
Epoch 50/50
 - 0s - loss: 311.9749

### compute loss

In [13]:
loss_val = model.evaluate(X_test, y_test)
y_pred = model.predict(X_test)
loss_val

309/309 [==============================] - 0s 114us/step

293.0066523382193

In [14]:
from sklearn.metrics import mean_squared_error

In [15]:
mean_square_error = mean_squared_error(y_test, y_pred)
mean = np.mean(mean_square_error)
standard_deviation = np.std(mean_square_error)
print(mean, standard_deviation)

293.0066549390504 0.0

In [16]:
total_mean_squared_errors = 50
epochs = 100
mean_squared_errors = []
for i in range(0, total_mean_squared_errors):
    X_train, X_test, y_train, y_test = train_test_split(predictors_norm, target, test_size=0.3, random_state=i)
    model.fit(X_train, y_train, epochs=epochs, verbose=0)
    MSE = model.evaluate(X_test, y_test, verbose=0)
    print("MSE "+str(i+1)+": "+str(MSE))
    y_pred = model.predict(X_test)
    mean_square_error = mean_squared_error(y_test, y_pred)
    mean_squared_errors.append(mean_square_error)

mean_squared_errors = np.array(mean_squared_errors)
mean = np.mean(mean_squared_errors)
standard_deviation = np.std(mean_squared_errors)

print('\n')
print("Below is the mean and standard deviation of " +str(total_mean_squared_errors) + " mean squared errors with normalized data. Total number of epochs for each training is: " +str(epochs) + "\n")
print("Mean: "+str(mean))
print("Standard Deviation: "+str(standard_deviation))

MSE 1: 111.76948890562582
MSE 2: 98.580796448544
MSE 3: 72.37792141614995
MSE 4: 72.43643453900482
MSE 5: 67.64835557659853
MSE 6: 62.116221850743955
MSE 7: 60.66772878208592
MSE 8: 44.5999308465754
MSE 9: 44.520844987295206
MSE 10: 44.70945870606259
MSE 11: 43.75509764538614
MSE 12: 41.77368451707957
MSE 13: 50.07632549989571
MSE 14: 47.901488764000554
MSE 15: 43.81496538081987
MSE 16: 37.878505688269165
MSE 17: 42.66345841367654
MSE 18: 41.03898573693334
MSE 19: 40.14257642134879
MSE 20: 42.880905990847495
MSE 21: 40.42360176160498
MSE 22: 40.94225971752772
MSE 23: 37.53273405303461
MSE 24: 40.72398448067575
MSE 25: 44.140064832076284
MSE 26: 42.48196401256573
MSE 27: 41.04406132127089
MSE 28: 40.28574607133094
MSE 29: 45.573032687782856
MSE 30: 43.11505504719262
MSE 31: 41.56814676426761
MSE 32: 38.34488673657661
MSE 33: 37.12984399888122
MSE 34: 43.69991454337407
MSE 35: 41.46082313315382
MSE 36: 46.640236684805366
MSE 37: 41.76573949029916
MSE 38: 44.66808761053487
MSE 39: 42.26215360079768
MSE 40: 37.96149411865037
MSE 41: 45.77700758751928
MSE 42: 38.8685157985749
MSE 43: 40.28009143076282
MSE 44: 45.986401875813804
MSE 45: 45.34154799378034
MSE 46: 47.689332313907954
MSE 47: 42.25935753880967
MSE 48: 42.14767715305958
MSE 49: 43.29517426228446
MSE 50: 46.60728885440765


Below is the mean and standard deviation of 50 mean squared errors with normalized data. Total number of epochs for each training is: 100

Mean: 47.62738742797567
Standard Deviation: 14.239610832658617