## Build a Regression Model in Keras

In [3]:
import pandas as pd
import numpy as np

### read the data

In [4]:
concrete_data = pd.read_csv('https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/DL0101EN/labs/data/concrete_data.csv')
concrete_data.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

In [5]:
concrete_data_columns = concrete_data.columns

predictors = concrete_data[concrete_data_columns[concrete_data_columns != 'Strength']] # all columns except Strength
target = concrete_data['Strength'] # Strength column

### normalize the data by substracting the mean and dividing by the standard deviation.

In [6]:
predictors_norm = (predictors - predictors.mean()) / predictors.std()
predictors_norm.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,0.862735,-1.217079,-0.279597
1,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,1.055651,-1.217079,-0.279597
2,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,3.551340
3,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,5.055221
4,-0.790075,0.678079,-0.846733,0.488555,-1.038638,0.070492,0.647569,4.976069

In [11]:
n_cols = predictors_norm.shape[1]

### import keras libraries

In [12]:
import keras

from keras.models import Sequential
from keras.layers import Dense

### define regresion model

In [13]:
def regression_model():
    # create model
    model = Sequential()
    model.add(Dense(10, activation='relu', input_shape=(n_cols,)))
    model.add(Dense(1))
    
    # compile model
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

In [14]:
from sklearn.model_selection import train_test_split

### Split the data in to training and testing data

In [16]:
X_train, X_test, y_train, y_test = train_test_split(predictors_norm, target, test_size=0.3, random_state=42)

### build the model

In [17]:
model = regression_model()

### fit the model

In [18]:
model.fit(X_train,y_train, epochs=50, verbose=2)

Epoch 1/50
 - 0s - loss: 1661.3842
Epoch 2/50
 - 0s - loss: 1645.1253
Epoch 3/50
 - 0s - loss: 1630.0000
Epoch 4/50
 - 0s - loss: 1615.9303
Epoch 5/50
 - 0s - loss: 1602.7550
Epoch 6/50
 - 0s - loss: 1589.8376
Epoch 7/50
 - 0s - loss: 1577.4431
Epoch 8/50
 - 0s - loss: 1565.0074
Epoch 9/50
 - 0s - loss: 1552.6416
Epoch 10/50
 - 0s - loss: 1539.9433
Epoch 11/50
 - 0s - loss: 1526.9433
Epoch 12/50
 - 0s - loss: 1513.2320
Epoch 13/50
 - 0s - loss: 1498.9741
Epoch 14/50
 - 0s - loss: 1483.9061
Epoch 15/50
 - 0s - loss: 1468.0529
Epoch 16/50
 - 0s - loss: 1451.0062
Epoch 17/50
 - 0s - loss: 1432.8551
Epoch 18/50
 - 0s - loss: 1413.6994
Epoch 19/50
 - 0s - loss: 1393.2581
Epoch 20/50
 - 0s - loss: 1371.4529
Epoch 21/50
 - 0s - loss: 1348.8229
Epoch 22/50
 - 0s - loss: 1324.8996
Epoch 23/50
 - 0s - loss: 1300.1803
Epoch 24/50
 - 0s - loss: 1274.4438
Epoch 25/50
 - 0s - loss: 1247.3890
Epoch 26/50
 - 0s - loss: 1219.9849
Epoch 27/50
 - 0s - loss: 1191.3491
Epoch 28/50
 - 0s - loss: 1162.2242
Epoch 29/50
 - 0s - loss: 1131.7834
Epoch 30/50
 - 0s - loss: 1100.5810
Epoch 31/50
 - 0s - loss: 1069.1701
Epoch 32/50
 - 0s - loss: 1036.4387
Epoch 33/50
 - 0s - loss: 1003.8140
Epoch 34/50
 - 0s - loss: 970.6944
Epoch 35/50
 - 0s - loss: 937.2396
Epoch 36/50
 - 0s - loss: 903.7735
Epoch 37/50
 - 0s - loss: 870.7533
Epoch 38/50
 - 0s - loss: 837.7500
Epoch 39/50
 - 0s - loss: 805.7635
Epoch 40/50
 - 0s - loss: 773.8048
Epoch 41/50
 - 0s - loss: 743.1066
Epoch 42/50
 - 0s - loss: 712.2672
Epoch 43/50
 - 0s - loss: 682.8312
Epoch 44/50
 - 0s - loss: 653.9526
Epoch 45/50
 - 0s - loss: 625.8819
Epoch 46/50
 - 0s - loss: 598.3234
Epoch 47/50
 - 0s - loss: 571.9215
Epoch 48/50
 - 0s - loss: 546.4129
Epoch 49/50
 - 0s - loss: 522.4927
Epoch 50/50
 - 0s - loss: 498.8025

### compute loss

In [19]:
loss_val = model.evaluate(X_test, y_test)
y_pred = model.predict(X_test)
loss_val

309/309 [==============================] - 0s 111us/step

463.6609151401952

In [20]:
from sklearn.metrics import mean_squared_error

In [21]:
mean_square_error = mean_squared_error(y_test, y_pred)
mean = np.mean(mean_square_error)
standard_deviation = np.std(mean_square_error)
print(mean, standard_deviation)

463.66091414655705 0.0

In [ ]:
total_mean_squared_errors = 50
epochs = 50
mean_squared_errors = []
for i in range(0, total_mean_squared_errors):
    X_train, X_test, y_train, y_test = train_test_split(predictors_norm, target, test_size=0.3, random_state=i)
    model.fit(X_train, y_train, epochs=epochs, verbose=0)
    MSE = model.evaluate(X_test, y_test, verbose=0)
    print("MSE "+str(i+1)+": "+str(MSE))
    y_pred = model.predict(X_test)
    mean_square_error = mean_squared_error(y_test, y_pred)
    mean_squared_errors.append(mean_square_error)

mean_squared_errors = np.array(mean_squared_errors)
mean = np.mean(mean_squared_errors)
standard_deviation = np.std(mean_squared_errors)

print('\n')
print("Below is the mean and standard deviation of " +str(total_mean_squared_errors) + " mean squared errors with normalized data. Total number of epochs for each training is: " +str(epochs) + "\n")
print("Mean: "+str(mean))
print("Standard Deviation: "+str(standard_deviation))

MSE 1: 163.20227191517654
MSE 2: 160.55670689456286
MSE 3: 101.69242098416325
MSE 4: 77.85577937005793
MSE 5: 58.54216197239157
MSE 6: 55.50593453317784
MSE 7: 51.551940201941434
MSE 8: 40.10057984509514
MSE 9: 40.97538606711576
MSE 10: 40.966139660684036
MSE 11: 38.24911247179346
MSE 12: 36.40726048738054
MSE 13: 42.12775517435907
MSE 14: 44.567081426725416
MSE 15: 37.137355952586944
MSE 16: 31.88454047144424
MSE 17: 37.50662855500156
MSE 18: 36.24987759019179
MSE 19: 35.70601402208643
MSE 20: 37.28015889781964
MSE 21: 32.40183587676113
MSE 22: 33.44483414437007
MSE 23: 31.163774299004317
MSE 24: 33.90875244140625
MSE 25: 34.73264847912834
MSE 26: 37.91912591187314
MSE 27: 32.35388937891494
MSE 28: 31.587574721154272
MSE 29: 37.10238136365576
MSE 30: 35.10827695358918
MSE 31: 31.405921775546275
MSE 32: 30.03278694646644